<div class="data-table-wrapper">
  <ng-container *ngTemplateOutlet="headerTemplate || defaultHeaderTemplate"></ng-container>
  <div class="rounded-table-border">
    <table>
      <thead>
        <tr>
          <th><is-input [type]="'checkbox'"></is-input></th>
          <ng-container *ngFor="let fieldType of fields; let i = index">
            <th *ngIf="fieldType.showInTable" [ngClass]="{ sort: fieldType.showInTable }">
              <div
                class="sort-wrapper"
                [ngClass]="{ 'sort-wrapper-hover': fieldType.sort }"
                [isPopover]="showTableHeadSorting && tempSortIndex === i && fieldType.sort"
                [appendTo]="'body'"
                [position]="'bottom'"
                [template]="tableHeadSortTemplate"
                [templateContext]="i"
                (click)="onTogglePopover('SORT', i)">
                <span>{{ fieldType.name }}</span>
                <fa-icon
                  *ngIf="fieldType.sort"
                  [icon]="[
                    'fas',
                    sortOrder === 'ASC' && sortIndex === i
                      ? 'sort-up'
                      : sortOrder === 'DESC' && sortIndex === i
                      ? 'sort-down'
                      : 'sort'
                  ]"></fa-icon>
              </div>
            </th>
          </ng-container>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data$ | async; let i = index">
          <td><is-input [type]="'checkbox'"></is-input></td>
          <ng-container *ngFor="let column of fields; let colIndex = index">
            <td *ngIf="column.showInTable">
              {{ row[column.type] }}
            </td>
          </ng-container>
          <td class="action-trigger">
            <fa-icon
              [icon]="actionIcon"
              (click)="onTogglePopover('ACTION', i)"
              [isPopover]="showActions && actionIndex === i"
              [position]="'bottom'"
              [appendTo]="'body'"
              [template]="actionsTemplate"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-container *ngTemplateOutlet="footerTemplate || defaultFooterTemplate"></ng-container>
</div>

<ng-template #actionsTemplate>
  <div class="default-actions-template">
    <div class="sort-options">Create</div>
    <div class="sort-options">Edit</div>
    <div class="divider"></div>
    <div class="sort-options">Delete</div>
  </div>
</ng-template>

<ng-template #tableHeadSortTemplate let-index>
  <div class="default-thead-sort-template">
    <div (click)="onSortTableRows('ASC')" class="sort-options">
      <fa-icon [icon]="['fas', 'arrow-up-wide-short']"></fa-icon>Asc
    </div>
    <div (click)="onSortTableRows('DESC')" class="sort-options">
      <fa-icon [icon]="['fas', 'arrow-down-short-wide']"></fa-icon>Desc
    </div>
    <div class="divider"></div>
    <div (click)="onToggleTableField(index)" class="sort-options">
      <fa-icon [icon]="['far', 'eye-slash']"></fa-icon>Hide
    </div>
  </div>
</ng-template>

<ng-template #defaultHeaderTemplate>
  <div class="default-header-template">
    <div class="header-filters">
      <is-input [type]="'text'" [icon]="'search'" [placeholder]="'Filter'"></is-input>
      <is-button
        *ngFor="let filter of filters; let i = index"
        [isPopover]="showFilter && filterIndex === i"
        [position]="'bottom'"
        [appendTo]="'body'"
        [template]="filterTemplate"
        [templateContext]="filter"
        (onClick)="onTogglePopover('FILTER', i, filter.type)"
        [label]="filter.name"
        [styleClass]="['outlined', 'dashed']"
        [type]="'button'"
        [icon]="'filter'">
        <div class="filter-values">
          <div class="vertical-divider"></div>
          A, B
        </div>
      </is-button>
    </div>
    <div
      class="header-view"
      [isPopover]="showToggleColumns"
      [position]="'bottom'"
      [appendTo]="'body'"
      [template]="toggleColumnsTemplate">
      <is-button
        (onClick)="onTogglePopover('TOGGLE_COLUMN')"
        [type]="'button'"
        [styleClass]="['outlined']"
        [label]="'View'"
        [icon]="'sliders'">
      </is-button>
    </div>
  </div>
</ng-template>

<ng-template #toggleColumnsTemplate>
  <div class="toggle-columns-container">
    <div class="toggle-columns-label">Toggle columns</div>
    <div class="divider"></div>
    <div
      *ngFor="let column of fields; let i = index"
      class="table-columns"
      (click)="onToggleTableField(i)">
      <fa-icon [icon]="['far', column.showInTable ? 'circle-check' : 'circle-xmark']"></fa-icon
      >{{ column.name }}
    </div>
  </div>
</ng-template>

<ng-template #filterTemplate let-filter>
  <div class="filter-options-container">
    <div class="search-bar">
      <is-input
        [placeholder]="filter.name"
        [type]="'text'"
        [ghost]="true"
        [iconSize]="'sm'"
        [iconColor]="'hsl(var(--muted-foreground))'"
        [icon]="'search'"></is-input>
      <div class="divider"></div>
      <div *ngFor="let option of availableFilters$ | async; let i = index" class="filter-options">
        <is-input
          [(ngModel)]="activeFilters[option]"
          [checked]="activeFilters[option]"
          (change)="onFilterChange(option, filter)"
          [type]="'checkbox'"></is-input>
        <fa-icon [icon]="['far', 'circle']"></fa-icon>
        <span>{{ option }}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #defaultFooterTemplate>
  <div>This is the footer</div>
</ng-template>
