<div class="modal-deadarea">
  <dialog [open]="isModalVisible">
    <!--* Header -->
    <ng-container *ngTemplateOutlet="headerTemplate || defaultHeaderTemplate"></ng-container>
    <ng-template #defaultHeaderTemplate>
      <h3 class="modal-heading">Are you sure?</h3>
    </ng-template>

    <!--* Content -->
    <ng-container *ngTemplateOutlet="contentTemplate || defaultContentTemplate"></ng-container>
    <ng-template #defaultContentTemplate>
      <p class="content-paragraph">The phantom menace is the best episode! Also greedo shot first</p>
    </ng-template>

    <!--* Actions -->
    <div class="modal-actions">
      <button class="cancel-btn">Cancel</button>
      <button class="submit-btn">Save</button>
    </div>
  </dialog>
</div>
    