<!-- <div class="playground"> -->
<!-- <is-button
    [label]="'Button'"
    [loading]="false"
    [styleClass]="['primary']">
  </is-button> -->
<!-- <is-input
    [(ngModel)]="a"
    [type]="'checkbox'"></is-input> -->
<!-- <div [isPopover]="b" [template]="template" appendTo="body" [position]="'top'" (click)="b = !b"  class="test-box">This is my boxThis is my boxThis is my boxs my boxThis is my boxs my boxThis is my box</div> -->

<!-- <div class="a"> -->
<!-- <is-data-table></is-data-table> -->
<!-- </div>
</div> -->
<div style="width: 100%; background-color: chartreuse;">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut rerum doloremque deserunt quibusdam fugiat, nisi odio.
  Voluptatibus, asperiores ullam eos culpa aspernatur laboriosam molestiae facere nulla error soluta itaque. Nostrum!
  <button (click)="test()">HAHA</button>
</div>
<is-modal></is-modal>
