<!-- <div class="playground"> -->
<!-- <is-button
    [label]="'Button'"
    [loading]="false"
    [styleClass]="['primary']">
  </is-button> -->
<!-- <is-input
    [(ngModel)]="a"
    [type]="'checkbox'"></is-input> -->
<!-- <div [isPopover]="b" [template]="template" appendTo="body" [position]="'top'" (click)="b = !b"  class="test-box">This is my boxThis is my boxThis is my boxs my boxThis is my boxs my boxThis is my box</div> -->

<!-- <div class="a"> -->
<!-- <is-data-table></is-data-table> -->
<!-- </div>
</div> -->
<div style="width: 100%; height: 100vh; background-color: rgb(136, 136, 136)">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut rerum doloremque deserunt quibusdam fugiat, nisi odio.
  Voluptatibus, asperiores ullam eos culpa aspernatur laboriosam molestiae facere nulla error soluta itaque. Nostrum!
  <button (click)="showModal = true">HAHA</button>
  <is-toast></is-toast>
</div>
<!-- <is-modal *ngIf="showModal" (close)="showModal = false" (submit)="showModal = false"></is-modal> -->
