<!-- <div class="playground"> -->
  <!-- <is-button
    [label]="'Button'"
    [loading]="false"
    [styleClass]="['primary']">
  </is-button> -->
  <!-- <is-input
    [(ngModel)]="a"
    [type]="'checkbox'"></is-input> -->
  <!-- <div [isPopover]="b" [template]="template" appendTo="body" [position]="'top'" (click)="b = !b"  class="test-box">This is my boxThis is my boxThis is my boxs my boxThis is my boxs my boxThis is my box</div> -->

  <!-- <div class="a"> -->
    <!-- <is-data-table></is-data-table> -->
  <!-- </div>
</div> -->
<is-modal></is-modal>
