:host {
  width: fit-content;
  .toast-wrapper {
    width: 200px;
    display: flex;
    justify-content: space-between;
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    border-radius: var(--radius);
    border: 2px solid hsl(var(--border));
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.25rem;
    animation-timing-function: ease-in;
    .content {
      .title {
        font-size: 1.125em;
      }

      .description {
        font-size: 1em;
      }
    }
  }
  fa-icon {
    height: fit-content;
    &:hover {
      cursor: pointer;
    }
  }
}
